/*
COLORS:
    light-1: #fff
    light-2: #edeef0

    dark-1: #1a1a1a
    dark-2: #333
    dark-3: #444
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body {
    background-color: #edeef0;
    transition: background-color 0.3s;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

button#btn-change-theme {
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin: 10px;
    background: transparent;
}

button#btn-change-theme img {
    width: 30px;
}

body.dark {
    background-color: #1a1a1a;
}

.to-do-list {
    width: 100%;
    max-width: 540px;;
    margin: 100px auto 20px;
    padding: 40px 30px;
    border-radius: 10px;
    background-color: #fff;
    color: #1a1a1a;
    transition: background-color 0.3s;
}

.to-do-list.dark {
    background-color: #333;
    color: #fff;
}

.to-do-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.to-do-list.header h2 {
    display: flex;
    align-items: center;
}

input#search-input {
    display: flex;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #edeef0;
    padding: 10px;
    padding-left: 25px;
    transition: background-color 0.3s;
}

input#search-input.dark {
    background-color: #444;
    color: #fff;
}

.add-task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    background-color: #edeef0;
    transition: background-color 0.3s;
}

.add-task.dark {
    background-color: #444;
}

.add-task.dark input {
    color: #fff;
}

input#task-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button#btn-add-task {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(img/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #555;
}

ul li span:hover {
    background-color: #edeef0;
}

.to-do-list.dark ul li span{
    color: #edeef0;
}

.to-do-list.dark ul li span:hover{
    background-color: #555;
}